In [57]:
import pandas as pd

## 전체 train sample
df = pd.read_csv('../train_sample.csv',index_col=0)
set_level_list_3 = list(set(list(df['cat3'])))
set_level_list_3.sort()            
label_2_number = {label:i for i,label in enumerate(set_level_list_3)}

In [58]:
## 베스트 모델 추론할때 soft 보팅의 웨이트값을 찾기 위함
result_df = pd.DataFrame(list(label_2_number.keys()),columns=['index'])

target_df = pd.read_csv('./fold_0_epoch_0_val_analysis.csv')

target_df = target_df[['id','cat3','predict_label_number','target','predict_correct']]
df1 = target_df['cat3'].value_counts().to_frame(name='val_전체수').reset_index()
df2 = target_df.groupby(['cat3'])['predict_correct'].sum().to_frame(name='val_정답수').reset_index()
result_df = pd.merge(left = result_df , right = df1, left_on = "index",right_on = "index", how = "left")
result_df

     index  val_전체수
0      5일장      NaN
1        강      1.0
2   게스트하우스      NaN
3       계곡      NaN
4       고택      NaN
..     ...      ...
58      한식     29.0
59   한옥스테이      3.0
60   항구/포구      2.0
61    해수욕장      1.0
62  희귀동.식물      NaN

[63 rows x 2 columns]

In [59]:
result_df = pd.merge(left = result_df , right = df2, left_on = "index",right_on = "cat3", how = "left").drop('cat3',1)




result_df['val_틀린수'] = result_df['val_전체수'] - result_df['val_정답수']
result_df['acc'] = result_df['val_정답수'] / result_df['val_전체수']
result_df = result_df.fillna(0)
result_df
# result_df.to_csv('./temp.csv')

     index  val_전체수  val_정답수  val_틀린수       acc
0      5일장      0.0      0.0      0.0  0.000000
1        강      1.0      0.0      1.0  0.000000
2   게스트하우스      0.0      0.0      0.0  0.000000
3       계곡      0.0      0.0      0.0  0.000000
4       고택      0.0      0.0      0.0  0.000000
..     ...      ...      ...      ...       ...
58      한식     29.0     28.0      1.0  0.965517
59   한옥스테이      3.0      0.0      3.0  0.000000
60   항구/포구      2.0      0.0      2.0  0.000000
61    해수욕장      1.0      0.0      1.0  0.000000
62  희귀동.식물      0.0      0.0      0.0  0.000000

[63 rows x 5 columns]

In [60]:
weight_dict = { index:acc for index,acc in zip(result_df['index'],result_df['acc'])}
weight_dict

{'5일장': 0.0,
 '강': 0.0,
 '게스트하우스': 0.0,
 '계곡': 0.0,
 '고택': 0.0,
 '골프': 0.0,
 '공연장': 0.0,
 '공예,공방': 0.0,
 '공원': 0.0,
 '관광단지': 0.0,
 '국립공원': 0.0,
 '기념관': 0.0,
 '기념탑/기념비/전망대': 0.0,
 '기타행사': 0.0,
 '농.산.어촌 체험': 0.0,
 '도서관': 0.0,
 '동상': 0.0,
 '래프팅': 0.0,
 '모텔': 0.0,
 '문화원': 0.0,
 '문화전수시설': 0.0,
 '미술관/화랑': 0.0,
 '바/까페': 0.0,
 '박람회': 0.0,
 '박물관': 0.0,
 '복합 레포츠': 0.0,
 '사찰': 0.0,
 '산': 0.0,
 '상설시장': 0.0,
 '서양식': 0.0,
 '섬': 0.0,
 '성': 0.0,
 '수목원': 0.0,
 '스키(보드) 렌탈샵': 0.0,
 '승마': 0.0,
 '썰매장': 0.0,
 '안보관광': 0.0,
 '야영장,오토캠핑장': 0.42857142857142855,
 '요트': 0.0,
 '유명건물': 0.0,
 '유원지': 0.0,
 '유적지/사적지': 0.14285714285714285,
 '이색거리': 0.0,
 '일반축제': 0.0,
 '일식': 0.0,
 '자동차경주': 0.0,
 '자연생태관광지': 0.0,
 '자연휴양림': 0.0,
 '자전거하이킹': 0.0,
 '전문상가': 0.0,
 '전시관': 0.0,
 '종교성지': 0.0,
 '중식': 0.0,
 '채식전문점': 0.0,
 '컨벤션': 0.0,
 '트래킹': 0.0,
 '펜션': 0.0,
 '폭포': 0.0,
 '한식': 0.9655172413793104,
 '한옥스테이': 0.0,
 '항구/포구': 0.0,
 '해수욕장': 0.0,
 '희귀동.식물': 0.0}

In [61]:
import pickle



with open('./fold_1_epoch_1_val_analysis.pickle','rb') as fr:
    best_f1_score = pickle.load(fr)

In [62]:
best_f1_score

{'5일장': 0.0,
 '강': 0.0,
 '게스트하우스': 0.0,
 '계곡': 0.0,
 '고택': 0.0,
 '골프': 0.0,
 '공연장': 0.0,
 '공예,공방': 0.0,
 '공원': 0.0,
 '관광단지': 0.0,
 '국립공원': 0.0,
 '기념관': 0.0,
 '기념탑/기념비/전망대': 0.0,
 '기타행사': 0.0,
 '농.산.어촌 체험': 0.0,
 '도서관': 0.0,
 '동상': 0.0,
 '래프팅': 0.0,
 '모텔': 0.0,
 '문화원': 0.0,
 '문화전수시설': 0.0,
 '미술관/화랑': 0.0,
 '바/까페': 0.0,
 '박람회': 0.0,
 '박물관': 0.0,
 '복합 레포츠': 0.0,
 '사찰': 0.0,
 '산': 0.0,
 '상설시장': 0.0,
 '서양식': 0.0,
 '섬': 0.0,
 '성': 0.0,
 '수목원': 0.0,
 '스키(보드) 렌탈샵': 0.0,
 '승마': 0.0,
 '썰매장': 0.0,
 '안보관광': 0.0,
 '야영장,오토캠핑장': 0.0,
 '요트': 0.0,
 '유명건물': 0.0,
 '유원지': 0.0,
 '유적지/사적지': 0.0,
 '이색거리': 0.0,
 '일반축제': 0.0,
 '일식': 0.0,
 '자동차경주': 0.0,
 '자연생태관광지': 0.0,
 '자연휴양림': 0.0,
 '자전거하이킹': 0.0,
 '전문상가': 0.0,
 '전시관': 0.0,
 '종교성지': 0.0,
 '중식': 0.0,
 '채식전문점': 0.0,
 '컨벤션': 0.0,
 '트래킹': 0.0,
 '펜션': 0.0,
 '폭포': 0.0,
 '한식': 1.0,
 '한옥스테이': 0.0,
 '항구/포구': 0.0,
 '해수욕장': 0.0,
 '희귀동.식물': 0.0}