In [89]:
import pandas as pd

## 전체 train sample
df = pd.read_csv('../train.csv',index_col=0)
set_level_list_3 = list(set(list(df['cat3'])))
set_level_list_3.sort()            
label_2_number = {label:i for i,label in enumerate(set_level_list_3)}
number_2_label = {i:label for i,label in enumerate(set_level_list_3)}

In [90]:
## 베스트 모델 추론할때 soft 보팅의 웨이트값을 찾기 위함
result_df = pd.DataFrame(list(label_2_number.keys()),columns=['index'])

target_df = pd.read_csv('./data_save_temp/fold_3_epoch_15_valdf_rank_0.csv')

target_df = target_df[['id','cat3','predict_label_number','target','predict_correct']]
df1 = target_df['cat3'].value_counts().to_frame(name='val_전체수').reset_index()
df2 = target_df.groupby(['cat3'])['predict_correct'].sum().to_frame(name='val_정답수').reset_index()
result_df = pd.merge(left = result_df , right = df1, left_on = "index",right_on = "index", how = "left")
result_df

            index  val_전체수
0             5일장     18.0
1             ATV      1.0
2             MTB      NaN
3               강     10.0
4          게스트하우스     11.0
..            ...      ...
123          헬스투어      2.0
124  헹글라이딩/패러글라이딩      1.0
125            호수      4.0
126          홈스테이      8.0
127        희귀동.식물      7.0

[128 rows x 2 columns]

In [91]:
result_df = pd.merge(left = result_df , right = df2, left_on = "index",right_on = "cat3", how = "left").drop('cat3',1)

result_df['val_틀린수'] = result_df['val_전체수'] - result_df['val_정답수']
result_df['acc'] = result_df['val_정답수'] / result_df['val_전체수']
result_df = result_df.fillna(0)
result_df
# result_df.to_csv('./temp.csv')

            index  val_전체수  val_정답수  val_틀린수       acc
0             5일장     18.0     16.0      2.0  0.888889
1             ATV      1.0      1.0      0.0  1.000000
2             MTB      0.0      0.0      0.0  0.000000
3               강     10.0      5.0      5.0  0.500000
4          게스트하우스     11.0     10.0      1.0  0.909091
..            ...      ...      ...      ...       ...
123          헬스투어      2.0      1.0      1.0  0.500000
124  헹글라이딩/패러글라이딩      1.0      0.0      1.0  0.000000
125            호수      4.0      0.0      4.0  0.000000
126          홈스테이      8.0      2.0      6.0  0.250000
127        희귀동.식물      7.0      5.0      2.0  0.714286

[128 rows x 5 columns]

In [92]:
weight_dict = { index:acc for index,acc in zip(result_df['index'],result_df['acc'])}
# weight_dict

In [93]:
target_df = pd.read_csv('./data_save_temp/fold_3_epoch_15_valdf_rank_0.csv')
temp = target_df.iloc[0]['predict_logit'].replace('[','')
temp = temp.replace(']','')
temp = temp.replace("'",'')
temp = temp.replace(" ",'')
temp = temp.split(',')
print(temp,type(temp))

['0.2741032838821411', '0.726055383682251', '3.8537850379943848', '-0.5932121872901917', '0.5228717923164368', '-0.49769100546836853', '0.6942906379699707', '0.7193548083305359', '1.2125492095947266', '0.8325292468070984', '0.6441237330436707', '-1.050925850868225', '-0.5559065937995911', '2.431729316711426', '-0.18206194043159485', '0.5282250046730042', '-0.27948659658432007', '-1.399703860282898', '-1.368259072303772', '0.13256937265396118', '-0.7375528216362', '0.2824725806713104', '3.5026369094848633', '1.7273540496826172', '0.11742763221263885', '1.792862892150879', '1.7945923805236816', '1.3292771577835083', '3.0702829360961914', '0.40677037835121155', '3.835261821746826', '-0.6626306176185608', '-0.06368841230869293', '1.9272936582565308', '0.4543682932853699', '-0.0673721507191658', '2.7410759925842285', '1.0621751546859741', '1.1277921199798584', '0.9499882459640503', '0.7908570766448975', '0.40709197521209717', '0.5867888927459717', '2.76792311668396', '-1.9058034420013428', '3.810539960861206', '2.948463201522827', '1.9858402013778687', '0.5270805358886719', '4.6068549156188965', '3.213838577270508', '3.6535046100616455', '0.5834956765174866', '0.7355587482452393', '0.5102179646492004', '1.8481792211532593', '-0.6254621148109436', '-0.28303006291389465', '0.039385199546813965', '1.2569899559020996', '-0.07478520274162292', '1.0058412551879883', '-0.9563741683959961', '-0.32384952902793884', '2.47583270072937', '2.7366442680358887', '1.4102449417114258', '1.8362947702407837', '3.7465054988861084', '0.9669856429100037', '2.9736685752868652', '1.7831904888153076', '-0.7646515369415283', '-1.3577516078948975', '1.5636725425720215', '2.269033193588257', '2.8025076389312744', '0.4774753749370575', '3.3069515228271484', '0.937079131603241', '0.3259139657020569', '-1.287034034729004', '0.8347529172897339', '0.4447307586669922', '-1.4687831401824951', '-0.907139241695404', '-1.9755547046661377', '1.2777074575424194', '0.9802780151367188', '3.1032187938690186', '0.9069828987121582', '0.5241772532463074', '2.8763368129730225', '-0.7844293713569641', '-0.5742520093917847', '1.1299571990966797', '1.6647460460662842', '-0.9030640721321106', '1.558007001876831', '0.46884265542030334', '0.998604416847229', '-0.38192057609558105', '0.7510018348693848', '14.320274353027344', '4.42067813873291', '1.6006981134414673', '3.478947877883911', '-0.2735570967197418', '-1.1341649293899536', '0.9213876724243164', '1.9048373699188232', '-1.8673359155654907', '-0.7577819228172302', '-0.09191642701625824', '-0.35309410095214844', '-0.15674801170825958', '2.1050429344177246', '1.4109985828399658', '-1.1935523748397827', '-0.5967823266983032', '1.0711385011672974', '-0.5819047093391418', '1.258065104484558', '1.165306806564331', '2.357499361038208', '0.36939722299575806', '0.8329102396965027', '1.0138643980026245'] <class 'list'>

In [94]:
import numpy as np
temp2 = []
for i in temp:
    temp2.append(float(i))
    
print(np.max(temp2),np.argmax(temp2))

14.320274353027344 103

In [97]:
print(number_2_label[103],target_df.iloc[0])

'카지노'