In [22]:
import pandas as pd 


df = pd.read_csv('../train.csv')
temp_dict = list(set(list(df['cat3'])))
temp_dict.sort()
# temp_dict
num2label = {i:x for i,x in enumerate(temp_dict)}
label2num = {x:i for i,x in enumerate(temp_dict)}
# num2label

In [27]:
# num2label

In [30]:
target_df = pd.read_csv('./어제.csv')
target_df
# target_df['e0'] = target_df['e0'].apply(lambda x:num2label[x])
# target_df['e1'] = target_df['e1'].apply(lambda x:num2label[x])
# target_df['e2'] = target_df['e2'].apply(lambda x:num2label[x])
# target_df['e3'] = target_df['e3'].apply(lambda x:num2label[x])
# target_df['e4'] = target_df['e4'].apply(lambda x:num2label[x])
# target_df['e5'] = target_df['e5'].apply(lambda x:num2label[x])
# target_df['e6'] = target_df['e6'].apply(lambda x:num2label[x])
# target_df['e7'] = target_df['e7'].apply(lambda x:num2label[x])
# target_df['e8'] = target_df['e8'].apply(lambda x:num2label[x])
# target_df['e9'] = target_df['e9'].apply(lambda x:num2label[x])

# target_df.to_csv('./비교.csv')

              id       cat3      cat3d
0     TEST_00000         한식         한식
1     TEST_00001         한식         한식
2     TEST_00002         한식         한식
3     TEST_00003       수련시설       수련시설
4     TEST_00004          산          산
...          ...        ...        ...
7275  TEST_07275         한식         한식
7276  TEST_07276        공연장        공연장
7277  TEST_07277  야영장,오토캠핑장  야영장,오토캠핑장
7278  TEST_07278         모텔         모텔
7279  TEST_07279        박물관        박물관

[7280 rows x 3 columns]

In [28]:

target_df['diff'] = target_df.apply(lambda x:x['cat3']==x['cat3d'],axis=1)
# target_df.to_csv('./비교.csv')

In [29]:
target_df.groupby('diff').size()

diff
False     484
True     6796
dtype: int64